/*Larger Font*/
.Font {
  font-size: 20px !important;
}
/*** Navbar ***/
.custom-container {
  margin-top: 10px;
  margin-left: 30px !important;
  margin-right: 50px !important;
}
/* change the text in navbar to lowecase */
.capitalize {
  text-transform: capitalize !important;
}
#basic-nav-dropdown {
  text-transform: capitalize !important;
}

/* Navbar brand */
.navbar-brand {
  color: #a60341 !important;
  position: relative;
  margin-left: 10px;
  font-size: 27px !important;
  text-transform: uppercase;
  font-weight: 500 !important;
}
/* Navbar links */
.nav-link {
  color: #a60341 !important;
  position: relative;
  margin-left: 10px;
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 500 !important;
}
.nav-link:hover {
  color: #6c757d !important;
}
.Contact {
  width: 175px;
  font-size: 20px !important;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #6c757d !important;
}

/* Navbar Toggle menu collapse when minimise screen*/
.navbar-toggler {
  border-color: #830032 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23a60341' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler.active .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23a60341' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 2;
  color: #830032 !important;
}
/* carousel */
.carousel-caption-custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-8%, -50%) !important;
  z-index: 10;
}

.caption-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.caption-content h3,
.caption-content p {
  margin: 0 0 10px 0;
}

.caption-content .btn {
  background-color: #a60341;
  border: none;
}

.caption-content .btn:hover {
  background-color: #6c757d;
}

.carousel-caption-custom .bg-overlay {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border: none;
}

.card-fixed-width {
  width: 500px;
}

/* Set height for large screens */
/* height of carousel */
.background {
  height: 500px;
}

/*Join and login buttons */
#bookIdbtn {
  margin-right: 20px !important;
  width: 120px !important;
}
#loginIdbtn {
  width: 120px !important;
}

/* Footer */
#emailFooter:hover {
  color: #6c757d !important;
}
#phoneFooter:hover {
  color: #6c757d !important;
}

/* Facette */
.facette {
  height: 1050px !important;
}
ul {
  list-style-type: none;
  padding-left: 0% !important;
}
.items {
  font-weight: bold;
}
.form-check-input {
  box-shadow: none !important;
  outline: none !important;
  border-color: #6c757d !important;
}
.form-check-input:checked {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}
.item {
  background-color: #e9ecef !important;
}
.details {
  width: 150px;
  margin-right: 40px !important;
}
.buy {
  width: 150px;
}
/*pagination*/
.page-link {
  color: #830032 !important;
}
.pagination .page-item:focus,
.pagination .page-link:focus {
  outline: 1px solid #830032;
  box-shadow: 0 0 0 2px rgba(131, 0, 50, 0.5);
}
.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #eaeff3c0;
  border-color: #830032;
}
/*booking*/
.custom-select {
  width: 300px;
  border-color: #6c757d !important;
  outline: none !important;
}

.custom-select:focus {
  border-color: #6c757d !important;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25) !important;
}
/*guide*/
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 18px !important;
  color: #6c757d;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: left;
  overflow-anchor: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #989da1 !important;
  border-color: #989da1 !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  border-color: #6c757d !important;
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
}

.accordion-button:hover {
  z-index: 2;
  border-color: #6c757d !important;
  background-color: #989da1 !important;
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: #6c757d;
  background-color: #989da1;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%236c757d' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-size: 1rem;
  transition: transform 0.2s ease-in-out;
}
/*Login*/
.form-control:focus {
  border-color: #6c757d !important;
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
  outline: none !important;
}
#loginIdBtn {
    width: 150px !important;
}
.form-control,
.form-control-plaintext,
.form-select {
    height: 40px !important; 
    min-height: 40px !important; 
    line-height: 1.5; 
}

/* large screens */
@media (min-width: 1024px) {
  /* height of carousel */
  .background {
    height: 550px;
  }
  .guide {
    font-size: 18px !important;
  }
  .large-screen-image {
    display: block;
  }
  .small-screen-image {
    display: none;
  }
  .loginCard {
    width: 40% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
    .signUpCard{
        margin-top: 3% !important;
        margin-bottom: 4% !important;
    }
}
/* extra large screens */
@media (min-width: 1560px) {
    .loginCard {
      width: 40% !important;
      margin-top: 8% !important;
      margin-bottom: 10% !important;
    }
    .signUpCard{
        margin-top: 6% !important;
        margin-bottom: 8% !important;
    }
}

/* medium screens */
@media (max-width: 992px) {
  .navbar .navbar-collapse {
    margin-top: 18px;
    border-top: 1px solid #a60341;
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }

  #HomeLink {
    margin-top: 10px;
  }
  .session {
    padding-left: 90px !important;
  }

  /* height of carousel */
  .background {
    height: 400px;
  }
  .card-fixed-width {
    width: 300px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 0px !important;
  }
  .carousel-caption-custom {
    transform: translate(-8%, -70%) !important;
  }
  .large-screen-image {
    display: block;
  }
  .small-screen-image {
    display: none;
  }
}

/*small screens */
@media (max-width: 500px) {
  .custom-container {
    margin-top: 10px;
    margin-left: 12px !important;
    margin-right: 15px !important;
  }
  #logo {
    width: 75px !important;
    height: 75px !important;
  }
  #name {
    font-size: 24px !important;
  }
  /* carousel adjustment for small screen */
  .background {
    height: 400px;
  }
  .card-fixed-width {
    width: 340px !important;
    padding: 0px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .carousel-caption-custom {
    transform: translate(-8%, -65%) !important;
  }
  .session {
    padding-left: 30px !important;
  }
  .large-screen-image {
    display: none;
  }
  .small-screen-image {
    display: block;
  }
  .details {
    width: 100px;
    margin-right: 20px !important;
  }
  .buy {
    width: 100px;
  }
  .LoginCard{
    width: 100% !important;
  }
  #loginIdBtn {
    width: 150px !important;
    margin-top: 20px !important;
  }
}
